
ul {
    list-style-type: none; 
    display: flex;
}
li {
    margin: 0.5rem 2rem;

}
nav {
    display: flex;
    justify-content: center;
}
.main {
    display: flex;
    justify-content: space-between;
}
* {
    font-family: 'Nunito', sans-serif;
}
.main-img {
    border-radius: 12px;
}
#salutation {
    color:darkgreen;
}